/* Media Queries */

@media print {
    img#phone {
        display: none;
    }
    img#print {
        display: block;
    }
}

@media screen and (min-width: 768px) {
  /* Tablet */
  body {
    background-image: url("../imagens/back-tablet.jpg");
    img#tablet {
      display: block;
    }
    img#phone {
      display: none;
    }
  }
}

@media screen and (min-width: 992px) {
  /* Desktop */
  body {
    background-image: url("../imagens/back-pc.jpg");
    img#pc {
      display: block;
    }
    img#tablet {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  /* Grandes Telas */
  body {
    background-image: url(../imagens/back-tv.jpg);
    img#tv {
      display: block;
    }
    img#pc {
      display: none;
    }
  }
}
