* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: aliceblue;
}

header {
    background-color: gray;
}

header h1 {
    padding: 10px;
    text-align: center;
}

i#menu {
    background-color: rgb(29, 29, 29);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#menu:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transition: ease-in-out 0.5s;
}

i#menu {
    transition: background-color 0.5s, color 0.5s;

}

main {
    padding: 10px;
    margin: auto;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 10px;

}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(92, 92, 92);
    color: white;
    text-align: center;
}

menu a:hover {
    background-color: rgb(110, 110, 110);
    transition: background-color 0.5s;
}

