* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 10px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    width: 80vw;
    margin: auto;
}


div {
    width: 100%;
}

input {
    background-color: transparent;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.562);
    border-width: 0px 0px 1px 0px;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
    border-color: #000000;
    border-width: 0px 0px 2px 0px;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #007506;
    transition: background-color 0.5s ease-in-out;
}

