* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

header, section.normal {
    padding: 20px;
}

section.flex-content {
    padding: 20px;
    background-color: #ccc;
    
    flex: auto;
    display: flex;
    flex-flow: column wrap;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
}

article > div.text {
    flex: 1 1 500px;
}

article > div.media {
    display: flex;
    flex: 1 0 500px;

    background-color: bisque;
    
    height: 250px;

    text-align: center;
    justify-content: center;
    align-items: center;
    
}