html {
    background-image: url(../imagens/cev-landscape.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    background-attachment: fixed;
}