* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html {
    background-color: #233EFF;
    text-align: center;
}

body {
    background-repeat: no-repeat;
    background-size: contain;
}

